<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<title>Register</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class ='logo-main'> 
            <a href="/" class="logo">  
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
    </a>
    </div>
        <div class="search"> <input type="text" name="search" placeholder="Buscar producto o marca" class="src" autocomplete="off"></div>
    
    <div class='title-1'>
        <i class="fas fa-hand-holding-usd"> Compra en cuotas y sin tarjeta de credito</i>
    </div>
        <div class= 'burger-menu'>
            <i class= "fas fa-bars"></i>
            </div>
    </div>
        </header>
        <main>
            <div class="forms">
                <h2>Creá tu cuenta</h2>
                <form action="/">
                    <div>
                    <input type="text" name="nombre" value="Nombre y apellido">
                    </div>
                    <div>
                        <input type="text" name="usuario" value="Nombre de usuario">
                    </div>
                    <div>
                        <input type="email" name="email" value="E-mail">
                    </div>
                    <div>
                        <input type="date" name="fecha de nacimiento" value="mm/dd/yy">
                    </div>
                    <div>
                        <input type="text" name="domicilio" value="Domicilio">
                    </div>
                    <div class="perfil-usuario">
                        <h4>Perfil del usuario</h4>
                        <div class="comprador">
                        <label for="perfil comprador"> 
                            <input type="radio" name="perfil" value="comprador" id="perfil-comprador">Comprador
                        </label>
                        </div>
                        <div class="vendedor">
                        <label for="perfil vendedor"> 
                            <input type="radio" name="perfil" value="vendedor" id="perfil-vendedor">Vendedor
                        </label>
                        </div>
                    </div>
                    <div class="categorias">
                        <h3>Categorias de interés</h3>
                        <label for="intereses-electro">
                        <input type="checkbox" name="intereses" value="electro" id="intereses-electro">Electro
                    </label>
                    <label for="intereses-moda">
                        <input type="checkbox" name="intereses" value="moda" id="intereses-moda">Moda
                    </label>
                    <label for="intereses-hogar">
                        <input type="checkbox" name="intereses" value="hogar" id="intereses-hogar">Hogar
                    </label>
                    <label for="intereses-jugueteria">
                        <input type="checkbox" name="intereses" value="jugueteria" id="intereses-jugueteria">Jugueteria
                    </label>
                    <label for="intereses-vida-sana">
                        <input type="checkbox" name="intereses" value="vida sana" id="intereses-vida-sana">Vida sana
                    </label>
                        </div>
                        <div class="photo">  
                            <input type="file" name="foto">                   
                    </div>
                    <div class="password">
                        <input type="password" placeholder="contraseña">
                    </div>
                    <div>
                        <input type="password" placeholder="confirmar contraseña">
                    </div>
                    <div class="buttoms">
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Borrar">
                    </div>
                    </div> 
                </form>
            </div>
        </main>
        <footer class="footer">
            <ul>
                <i class="fas fa-credit-card"></i>
                <p class="footer-p"><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p class='footer-p'>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <i class="fas fa-gift"></i>
                <p class="footer-p"><strong>Envío gratis desde $ 2.500</strong></p>
                <p class="footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                    <i class="fas fa-user-shield"></i>
                <p class="footer-p"><strong>Seguridad, de principio a fin</strong></p>
                <p class="footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                    <br>
                <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
            </ul>
         </footer>
</body>
</html>


