@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #ebebeb;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
*{box-sizing:border-box;}
main{margin: 5px}

body{
    font-family: "Roboto";
    font-size: 12px;
    background-color: #ebebeb;
    margin: 0px;
  
}
header{
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;
}

.logo-main{
        width: 45vw;
        height: 10vh;
        display: inline-block;
        padding: 12px;
}

.search{
    width: 45vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.search input{
   width: 90%;
}

.title-1{
    width: 100%;
    font-size: 10px;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
 
}
.burger-menu{
    background-color: #1259c3;
    width: 40px;
    height: 37px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: auto;
    border-radius: 5px;
   
}
.nav-1, .nav-2{
    display: none;
}
.banner{
    width: 100%;
    height: 100%;
}
.title-section {
    font-size: 24px;
    text-align: center;}

.photo-product{
    width: 100%;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}
.article{
   display: flex;
   flex-direction: column;
   background-color: white;
   margin: 10px;
   padding: 10px;
}
.article:hover {
    box-shadow: 0 2px 3px 4px rgba(0, 0, 0, 15%);
  }

#products{
    display: block;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.price {font-size: 18px;}

.discount {
    font-size: 16px;
    color: #39b54a;
}
#icono-envio{
    color: #39b54a;
    font-size: 16px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.name-product{display: none;}

ul{
    padding: 0%;
    margin: 12px 6px;
}

.footer{
    display: flex;
    color: #1259c3;
    font-size: 2em;
    background-color: white;
    text-align: center;

}
.footer-p{
    color: black;
    font-size: 12px;
    padding: auto;
}
.Copyright{
    font-size: 8px;
    color: black;
}


@media (min-width: 480px) {

.nav-1, .nav-2 {
    display: flex;
    flex-direction: row;
    display: unset;
    }
.logo-main{
    width: 250px;
}
.search{
    width: 31vw;
}
.title-1{
    width: 250px;
    font-size: 16px;
}
header {
    justify-content: center;
    align-items: center;
}
.burger-menu{
    display: none;
}
nav{
    background-color: #EAC926;
    display: flex;

}
.nav-1{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
 
   
}
.nav-2{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    
}
.article{
    width: 40vw;
    padding: 10px;
    margin: 10px;

}
#products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.name-product{
    display: unset;
}

}
footer ul{
    width: 100%;
}
@media (min-width: 780px) {

    .article{
        width: 20vw;
        padding: 10px;
        margin: 10px;
    }
    
}